<h1>Olá, mundo!</h1>

<p>Bem-vindo ao meu projeto Blazor.</p>

<button @onclick="Clique">
    Clique aqui
</button>

<p>@mensagem</p>

@code {
    string mensagem = "";

    void Clique()
    {
        mensagem = "Você clicou no botão!";
    }
}